$font-stack: 'Montserrat', sans-serif;

.banner-container {
    width: 100%;
    height: 223px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 45px;
    background-color: black;
    border-radius: 25px;

    h1 {
        font: $font-stack;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
        border-radius: 25px;
    }
}

@media screen and (max-width: 760px) {
    .banner-container {
        height: 110px;

        h1 {
            font-size: 24px;
        }
    }
}