.error-main {
    color: #FF6060;
    max-width: 1440px;
    text-align: center;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px;

    h1 {
        font-size: 288px;
        margin: 0;
        margin-bottom: 140px;
    }

    p {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 140px;
    }

    .error-link {
        font-size: 18px;
        color: #FF6060;
        text-decoration: underline;
    }
}

@media screen and (max-width: 760px) {
    .error-main h1 {
        font-size: 96px;
    }

    .error-main p {
        font-size: 18px;
    }

    .error-main .error-link {
        font-size: 14px;
    }
}