.gallery {
    padding: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    background: #F6F6F6;
    border-radius: 25px;

    .card {
        position: relative;

        .card-img-container {
            border-radius: 25px;
            height: 340px;
            overflow: hidden;
        }

        .card-img-container::before {
            content: '';
            position: absolute;
            border-radius: 25px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
        }

        .card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }

        .card-title {
            position: absolute;
            left: 20px;
            bottom: 20px;
            right: 20px;
            font-size: 18px;
            font-weight: 500;
            color: white;
        }
    }
}