.housingMain {
    margin: auto;
    max-width: 1440px;
    margin-top: 50px;
    margin-bottom: 50px;

    .housing-collapse-container {
        display: flex;
        justify-content: space-between;

        .collapse {
            width: 45%;
        }
    }
}

@media screen and (max-width: 760px) {
    .housingMain {
        margin-top: 27px;
        margin-bottom: 27px;
        .housing-collapse-container {
            flex-direction: column;

            .collapse-container {
                margin-top: 20px;
                padding: 0px 10px 0px 10px;
                h2 {
                    font-size: 13px;
                }
            }
            .collapse-text p, ul {
                font-size: 12px;
            }
            .collapse {
                width: 100%;
            }
        }
    }
}