body {
  min-width: 300px;
  margin: 8%;
  margin-top: 45px;
  margin-bottom: 0px;
  font-family: Montserrat,sans-serif!important;
  font-size: inherit;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  body {
    margin: 20px;
    margin-bottom: 0;
  }
}