.infosMain {
    color: #FF6060;
    display: flex;
    justify-content: space-between;

    .infosMainLeft {

        .infosTitleContainer {

            .infosTitle {
                font-size: 36px;
                margin-top: 30px;
                margin-bottom: 0;
            }
            .infosLocation {
                font-size: 18px;
                margin-top: 5px;
            }
        }

        .infosTagsList {
            display: flex;
            padding: 0;
            margin: 0;

            .infosTags {
                color: white;
                text-align: center;
                line-height: 150%;
                width: 115px;
                height: 25px;
                border-radius: 10px;
                background: #FF6060;
                margin: 0;
                margin-right: 10px;
            }
        }
    }

    .infosMainRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .infosOwner {
            display: flex;
            margin-top: 30px;

            .infosOwnerName{
                font-size: 18px;
                overflow-wrap: normal;
                text-align: right;
            }

            .infosOwnerPicture {
                width: 64px;
                height: 64px;
                border-radius: 64px;
                margin-left: 10px;
            }
        }

        .infosRating {
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            width: 196px;
        }
    }
}

@media screen and (max-width: 760px) {
    .infosMain {
        flex-direction: column;

        .infosMainLeft {
            .infosTitleContainer {
                .infosTitle {
                    font-size: 18px;
                }
                .infosLocation {
                    font-size: 14px;
                }
            }

            .infosTagsList {
                .infosTags {
                    font-size: 10px;
                    height: 16px;
                }
            }
        }

        .infosMainRight {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;

            .infosOwner {
                margin-top: 0;
                align-items: center;

                .infosOwnerName {
                    font-size: 12px;
                }
                .infosOwnerPicture {
                    height: 32px;
                    width: 32px;
                }
            }

            .infosRating {
                width: 98px;
                margin-left: 0;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}