nav {
    margin: 0%;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
    }

    .NavBar-Links {
        color: #ff6060;
        margin-left: 40px;
        font-size: 24px;
    }

    .NavBar-Links.active {
        text-decoration: underline;
    }
}

@media screen and (max-width: 760px) {
    nav {
        img {
            width: 145px;
        }

        .NavBar-Links {
            font-size: 12px;
            margin-left: 30px;
        }
    }
}