.showcase-container {
    position: relative;

    .previousArrow  {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    .nextArrow {
        position: absolute;
        top: 40%;
        right: 5%;
    }

    .showcase-count {
        position: absolute;
        bottom: 6%;
        left: 49%;
        color: white;
        font-size: 18px;
    }

    .showcaseImage_active {
        width: 100%;

        .showcaseImage {
            border-radius: 25px;
            height: 415px;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 760px) {
    .showcase-container {
        .previousArrow, .nextArrow {
            width: 24px;
        }
        .showcaseImage_active {
            .showcaseImage {
                height: 255px;
            }
        }
    }
}